{% extends "@EasyAdmin/page/content.html.twig" %}
{% block title %}
	HoussArtGallery - administration
{% endblock %}

{% block content %}
	<h1>Bienvenue au sein de l'administration de HoussArtGallery</h1>
{% endblock %}