{% extends 'base.html.twig' %}

{% block title %}HoussArtGallery- Accueil !{% endblock %}

{% block body %}
<body>
<style>
    .banner{
        height:850px;
        background:linear-gradient(rgba(0, 0, 0,.6),rgba(0, 0, 0,.6)),url(https://cdn.pixabay.com/photo/2016/09/04/12/38/living-room-1643855_1280.jpg) center center fixed no-repeat;
        background-size:cover;
    }
    .banner1{
        height:100%;
        background:linear-gradient(rgba(0, 0, 0,.6),rgba(0, 0, 0,.6)),url(https://cdn.pixabay.com/photo/2016/09/04/12/38/living-room-1643855_1280.jpg) center center fixed no-repeat;
        background-size:cover;
    }
    .banner h2{
        font-size: 5rem;
        font-weight: bold;
        font-family: 'Ruthie', cursive;
    }
    .banner h1{
        font-size: 8rem;
        color: white;
        font-family: 'Abril Fatface', serif;
    }
    .banner1 h1{
        font-size: 5rem;
        color: white;
        font-family: 'Abril Fatface', serif;
    }
	 .box img{
		border-radius: 50%;
		border: none;
		box-shadow: 0 0 1rem #000;
	 }
    .banner p{
        color: white;
        font-size: 3rem;
        font-family: 'roboto', serif; 
        padding: 2rem 0;

    }
	.banner1 a,
	.banner2 a,
	.banner a{
		background: #caa502;
		color: white;
		text-decoration: none;
		padding: 20px;
		font-size: 1.5rem;
		font-family: 'roboto', serif;
		margin: 0 1rem;
	}
	.banner a:hover{
		background: #fff;
		color: #caa502;
	}
	.banner1 a:hover{
		background: #fff;
		color: #caa502;
	}
	.box-ch{
		box-shadow: 0 0 1rem #000;
	}
	.artist{
        font-family: 'roboto';
        font-weight: bold;
        font-size: 1rem;
    }
</style>
<!-- HomeSection start -->
{% include "components/_homeSection.html.twig" %}
<!-- HomeSection End -->

<!-- Icons Container Start-->
{% include "components/_icons.html.twig" %}
<!-- Icons Container End -->

<!--  ProductsHome Start -->
{% include "components/_productsHome.html.twig" %}
<!--  ProductsHome End -->

<!--  CollectionsHome Start -->
{% include "components/_collectionsHome.html.twig" %}
<!--  CollectionsHome End -->

<!-- review Section Start -->
{% include "components/_reviewsHome.html.twig" %}
<!-- review Section End -->

<!-- posts Section Start -->
{% include "components/_postsHome.html.twig" %}
<!-- posts Section End -->

</body>
{% endblock %}