<div class="container bg mt-5">
	<section class=" row iconsContainer">
		<div class="icons">
			<i class="fa-solid fa-code-branch"></i>
			<div class="content">
				<h3>100+</h3>
				<p>Branches</p>
			</div>
		</div>

		<div class="icons">
			<i class="fa-solid fa-palette"></i>
			<div class="content">
				<h3>5800+</h3>
				<p>tableaux Vendus</p>
			</div>
		</div>

		<div class="icons">
			<i class="fa-solid fa-face-smile-wink"></i>
			<div class="content">
				<h3>2560+</h3>
				<p>Clients Satisfaits</p>
			</div>
		</div>

		<div class="icons">
			<i class="fa-solid fa-hand-holding-heart"></i>
			<div class="content">
				<h3>100+</h3>
				<p>Nouveautés</p>
			</div>
		</div>
	</section>
</div>
