{% extends 'base.html.twig' %}

{% block title %}HoussArtGallery - Termes et Conditions{% endblock %}

{% block body %}
<Style>
    .banner{
        height:100%;
        background:linear-gradient(rgba(0, 0, 0,.5),rgba(0, 0, 0,.5)),url(images/fondHome.jpg) center center fixed no-repeat;
        background-size:cover;
    }
    .heading{
        margin: 15rem 0 0 0;
        text-shadow: 0 0 1rem #000;
    }
</Style>
<body>
<div class="container-fluid banner">
    <div class="container">
        <div class="row d-flex-column text-white justify-content-center align-items-center">
            <div class="col-10 d-flex justify-content-center align-items-cente">
                <h1 class="heading py-5">Termes et Conditions d'Utilisation de HouseArtGallery</h1>
            </div>
            <div class="col-10 d-flex-column justify-content-center align-items-center fs-3 p-5">
                <p>
                Bienvenue sur HouseArtGallery. En accédant à notre site web [insérer l'URL du site web],
                vous acceptez d'être lié par ces termes et conditions d'utilisation, 
                toutes les lois et réglementations applicables, et acceptez que vous êtes responsable
                de la conformité avec toutes les lois locales applicables. Si vous n'êtes pas d'accord
                avec l'une de ces conditions, vous êtes interdit d'utiliser ou d'accéder à ce site.
                Les matériaux contenus dans ce site web sont protégés par le droit d'auteur et le droit 
                des marques.
                </p>

                <h2 class="fs-1 fw-bolder text-warning">1. Licence d'Utilisation</h2>
                <p>
                a. Il est permis de télécharger temporairement une copie des matériaux 
                (informations ou logiciels) sur le site web de HouseArtGallery pour un 
                visionnement transitoire personnel et non commercial seulement. 
                C'est l'octroi d'une licence, non un transfert de titre, et sous cette licence,
                 vous ne pouvez pas :
                </p>

                <ul class="ls-none mx-5">
                    <li>i. modifier ou copier les matériaux;</li>
                    <li>ii. utiliser les matériaux à des fins commerciales ou pour toute exposition publique (commerciale ou non commerciale);</li>
                    <li>iii. tenter de décompiler ou de reverse engineer tout logiciel contenu sur le site web de HouseArtGallery;</li>
                    <li>iv. retirer tout droit d'auteur ou autres notations de propriété des matériaux; ou</li>
                    <li>v. transférer les matériaux à une autre personne ou "miroir" les matériaux sur un autre serveur.</li>
                    <li>b. Cette licence sera automatiquement résiliée si vous violez l'une de ces restrictions et peut être 
                    résiliée par HouseArtGallery à tout moment. Lors de la fin de votre visionnement de ces matériaux
                     ou à la fin de cette licence, vous devez détruire tous les matériaux téléchargés en votre possession,
                      que ce soit en format électronique ou imprimé.</li>
                </ul>

                <h2 class="fs-1 fw-bolder text-warning">2. Avertissement</h2>

                <p>
                   Les matériaux sur le site web de HouseArtGallery sont fournis "tels quels". 
                   HouseArtGallery ne donne aucune garantie, exprimée ou implicite, et décline par la présente 
                   toutes les autres garanties, y compris, sans limitation, les garanties implicites ou 
                   les conditions de commercialisation, d'adéquation à un usage particulier, ou de non-violation 
                   de la propriété intellectuelle ou d'autres violations des droits.
                </p>

                <h2 class="fs-1 fw-bolder text-warning">3. Limitations</h2>

                <p>
                   En aucun cas, HouseArtGallery ou ses fournisseurs ne seront responsables de tout dommage 
                   (y compris, sans limitation, les dommages pour perte de données ou profit, ou en raison 
                   d'une interruption d'entreprise) découlant de l'utilisation ou de l'incapacité d'utiliser 
                   les matériaux sur le site web de HouseArtGallery, même si HouseArtGallery ou 
                   un représentant autorisé de HouseArtGallery a été notifié oralement ou par écrit de
                    la possibilité de tels dommages.
                </p>
                
                <h2 class="fs-1 fw-bolder text-warning">4. Révisions et Errata</h2>

                <p>
                   Les matériaux apparaissant sur le site web de HouseArtGallery peuvent inclure des erreurs 
                   techniques, typographiques ou photographiques. HouseArtGallery ne garantit pas que l'un 
                   des matériaux sur son site web est précis, complet ou actuel. HouseArtGallery peut apporter 
                   des modifications aux matériaux contenus sur son site web à tout moment sans préavis. 
                   HouseArtGallery ne s'engage cependant pas à mettre à jour les matériaux.
                </p>

                <h2 class="fs-1 fw-bolder text-warning">5. Liens</h2>
                <p>
                HouseArtGallery n'a pas examiné tous les sites liés à son site Internet et n'est pas 
                responsable du contenu de ces sites liés. L'inclusion de tout lien n'implique pas
                l'approbation par HouseArtGallery du site. L'utilisation de tout site web lié est aux
                risques et périls de l'utilisateur.
                </p>
                
                <h2 class="fs-1 fw-bolder text-warning">6. Modifications des Termes et Conditions d'Utilisation</h2>
                
                <p>
                HouseArtGallery peut réviser ces termes et conditions d'utilisation pour son site web 
                à tout moment sans préavis. En utilisant ce site web,
                 vous acceptez d'être lié par la version actuelle de ces Termes et Conditions d'Utilisation.
                </p>
                
                <h2 class="fs-1 fw-bolder text-warning">7. Loi régissant</h2>
                
                <p>
                Tout litige relatif au site web de HouseArtGallery sera régi par les lois du pays 
                de HouseArtGallery sans égard à son conflit de dispositions légales.
                </p>

                <h2 class="fs-1 fw-bolder text-warning">8. Contactez-nous</h2>
                <p class="pb-5 mb-5">
                Pour toute question concernant ces Termes et Conditions,
                 veuillez nous contacter à <a class="text-warning" href="mailto:HoussArtGallery@yahoo.fr">
				<i class="fas  fa-envelope"></i> . HoussArtGallery@Art.fr</a>.
                </p>

            </div>
        </div>
    </div>  
</div>
</body>

{% endblock %}
